body{
    width: 100%;
}
h1, h2, h3, h4, h5{   
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
.jumbotron{
    border-radius: 0;
    background: rgb(239, 57, 50);
    color:rgb(57, 57, 57);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 0;
}
.xPad15{
padding: 15px 15px;
}

.flexWrap{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#myFace{
    align-self: center;
    justify-self: center;
}
.skillBox{
    width: fit-content;
}
.fitTentRent>div{
    height: fit-content;
}
.portCard{
    width: 100%;
    height: fit-content;
    margin: 1em 0;
    background-color: rgb(239, 57, 50);
}
.portCard img,
.portCard .card-img-overlay{
    height: 60vh;
}
.portCard .card-body{
    height: 30vh;
}
.centerPos{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.overText{
    padding: 1rem;
    border-radius: 25px;
    color: rgb(226,239,50, 0.8);
}
.card-body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.redText{
    color: rgb(239, 57, 50);
}
.yellowText{
    color: rgb(226,239,50);
}
.blueText{
    color: #2b239b;
    font-weight: bold;
    text-align: center;
}
.linkText{
    font-size: 14px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contactText{
    color: rgb(239, 57, 50);
    width: 100vw;
    font-weight: bolder;
    align-content: center;
}
#skillSection{
    height: 20vh;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2b239b;
    color: rgb(226,239,50); 
    border-bottom: solid .5em rgb(239, 57, 50);
}
#aboutMe{
    height: 60vh;
    margin: 0;
    padding: 2em 0;
    background-color: #2b239b;
    color: rgb(226,239,50);
    width: 100%;
}
#portfolio{
    color: #2b239b;
    background-color: rgb(57, 57, 57);
}
#contact{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2b239b;
    border-top: solid .5em rgb(239, 57, 50);
}
footer{
    background-color: rgb(239, 57, 50);
    color: #2b239b;
}
@media (max-width: 768px) {
    #aboutMe{
        height: fit-content;
    }
}