body{
    width: 100%;
}
h1, h2, h3, h4, h5{   
    font-family: 'Open Sans', sans-serif;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
/* .jumbotron{
    border-radius: 0;
    background: rgb(88, 77, 76);
    color:rgb(30, 30, 30);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    margin: 0;
} */
.xPad15{
padding: 15px 15px;
}

.flexWrap{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#myFace{
    align-self: center;
    justify-self: center;
}
.skillBox{
    width: fit-content;
}

.fitTentRent>div{
    height: fit-content;
}
.portCard{
    width: 100%;
    height: fit-content;
    margin: 1em 0;
    background-color: #150f61;
}
.portCard img,
.portCard .card-img-overlay{
    height: 60vh;
}
.portCard .card-body{
    height: 30vh;
}
.centerPos{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.overText{
    padding: 1rem;
    border-radius: 25px;
    color: blue;
    opacity: 0.9;
    font-weight: bold;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.redText{
    color: rgb(30, 30, 30);
}
.yellowText{
    color: #faa04c;
}
.blueText{
    color: #150f61;
    font-weight: bold;
    text-align: center;
}
.linkText{
    font-size: 18px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.whiteText{
    color: beige;
}
.contactText{
    color: rgb(50, 50, 50);
    width: 100vw;
    font-weight: bolder;
    align-content: center;
}
#name{
    background-color: rgb(30, 30, 30);
    color: beige;
}
#skillSection{
    height: 20vh;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #150f61;
    color: #faa04c;
    border-bottom: solid .5em rgb(30, 30, 30);
}
#aboutMe{
    height: 60vh;
    margin: 0;
    padding: 2em 0;
    background-color: #150f61;
    color: #faa04c;
    width: 100%;
}
#portfolio{
    color: #150f61;
    background-image: url(../Resources/prism.png);
    background-color: black;
}
#contact{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #150f61;
    border-top: solid .5em rgb(30, 30, 30);
}
footer{
    background-color: rgb(30, 30, 30);
    color: #faa04c9a;
}
@media (max-width: 768px) {
    #aboutMe{
        height: fit-content;
    }
}